[DEFAULT]
# OpenEPaperLink Stuff
ACCESSPOINTIP =
MAC =

# Calendar Stuff
CALDAV_URL =
CAL_USERNAME =
CAL_PASSWORD =
CALENDAR_NAME = Calendar 1,Calendar 2
CALENDAR_COLOR = 2,5
TIMEZONE = CET
CALENDAR_FONT = fonts/Roboto-SemiBold.ttf

# Weather Stuff
LATITUDE = 50
LONGITUDE = 10
WEATHER_FONT = fonts/Roboto-SemiBold.ttf

# Header Stuff
HEADER_FONT = fonts/Roboto-SemiBold.ttf

# Debug
SKIPUPLOAD = False
