[DEFAULT]
# OpenEPaperLink Stuff
ACCESSPOINTIP = 
MAC = 

# Calendar Caldav Stuff
CALDAV_URL = 
CAL_USERNAME = 
CAL_PASSWORD = 
CALENDAR_NAME = 
TIMEZONE = GMT

# Style
TITLEFONT = fonts/Roboto-SemiBold.ttf
TITLEFONTSIZE = 25
TITLEPOSITION = 0
INVENTORYFONT = fonts/Roboto-SemiBold.ttf
INVENTORYFONTSIZE = 15
LOCATIONFONT = fonts/Roboto-SemiBold.ttf
LOCATIONFONTSIZE = 14
LOCATIONPOSITION = 1

# Debug
SKIPUPLOAD = False